if SHIELD_ROBA_R
config ZMK_KEYBOARD_NAME
    default "roBa_R"
config ZMK_SPLIT
    default y
config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_ROBA_L
config ZMK_KEYBOARD_NAME
    default "roBa_L"
config ZMK_SPLIT
    default y
endif

if SHIELD_ROBA_DONGLE
config ZMK_KEYBOARD_NAME
    default "roBa"
config ZMK_SPLIT_ROLE_CENTRAL
    default y
config ZMK_SPLIT
    default y
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2
config BT_MAX_CONN
    default 7
config BT_MAX_PAIRED
    default 7
endif

if SHIELD_ROBA_R_PERIPHERAL
config ZMK_SPLIT
    default y
config ZMK_SPLIT_ROLE_CENTRAL
    default n
endif

if SHIELD_ROBA_DONGLE || SHIELD_ROBA_R_PERIPHERAL
config ZMK_POINTING
    default y
endif
